examples/leave-room-bye.json
[
  {
    "id": "997c354038202dba",
    "type": "comment",
    "z": "f025a8b9fbd1b054",
    "name": "Leave room when someone says \"bye\"",
    "info": "",
    "x": 350,
    "y": 2520,
    "wires": []
  },
  {
    "id": "69c4ea189be94feb",
    "type": "matrix-receive",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "server": "8da0ef83f77f8e24",
    "roomId": "",
    "acceptText": true,
    "acceptEmotes": true,
    "acceptStickers": true,
    "acceptReactions": true,
    "acceptFiles": true,
    "acceptAudio": true,
    "acceptImages": true,
    "acceptLocations": true,
    "x": 280,
    "y": 2560,
    "wires": [
      [
        "19e1d64b63ae8a1f"
      ]
    ]
  },
  {
    "id": "19e1d64b63ae8a1f",
    "type": "switch",
    "z": "f025a8b9fbd1b054",
    "name": "msg.payload == bye",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bye",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 480,
    "y": 2560,
    "wires": [
      [
        "db0e51f8e7793f92"
      ]
    ]
  },
  {
    "id": "db0e51f8e7793f92",
    "type": "matrix-leave-room",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "server": "8da0ef83f77f8e24",
    "roomId": null,
    "x": 670,
    "y": 2560,
    "wires": [
      [
        "3791f551bf0e4fc4"
      ],
      [
        "3791f551bf0e4fc4"
      ]
    ]
  },
  {
    "id": "3791f551bf0e4fc4",
    "type": "debug",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 2560,
    "wires": []
  },
  {
    "id": "8da0ef83f77f8e24",
    "type": "matrix-server-config",
    "name": null,
    "autoAcceptRoomInvites": false,
    "enableE2ee": true,
    "global": true
  }
]