examples/shared-secret-registration.json
[
  {
    "id": "8a694cb7ebec1684",
    "type": "inject",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"username\":\"example\",\"displayname\":\"Example User\",\"password\":\"super-secret-password\",\"admin\":true}",
    "payloadType": "json",
    "x": 470,
    "y": 1780,
    "wires": [
      [
        "f19521453aeaa6ba"
      ]
    ]
  },
  {
    "id": "f19521453aeaa6ba",
    "type": "matrix-synapse-register",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "x": 670,
    "y": 1780,
    "wires": [
      [
        "cd2ea4e791098aa0"
      ],
      [
        "a365bedfad2280fe"
      ]
    ]
  },
  {
    "id": "66fbaa12bfadd0b4",
    "type": "comment",
    "z": "f025a8b9fbd1b054",
    "name": "Register user using secret registration",
    "info": "",
    "x": 630,
    "y": 1740,
    "wires": []
  },
  {
    "id": "cd2ea4e791098aa0",
    "type": "debug",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 1760,
    "wires": []
  },
  {
    "id": "a365bedfad2280fe",
    "type": "debug",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 1800,
    "wires": []
  }
]