examples/start-accept-verification-from-user.json
[
  {
    "id": "5073ca88b21abfb4",
    "type": "matrix-device-verification",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "server": null,
    "mode": "receive",
    "inputs": 0,
    "outputs": 1,
    "x": 350,
    "y": 1540,
    "wires": [
      [
        "b76c1d185c2793a0"
      ]
    ]
  },
  {
    "id": "05947740ced04e2c",
    "type": "matrix-device-verification",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "server": null,
    "mode": "start",
    "inputs": 1,
    "outputs": 1,
    "x": 740,
    "y": 1540,
    "wires": [
      [
        "b3158c0779b72b41"
      ]
    ]
  },
  {
    "id": "b76c1d185c2793a0",
    "type": "switch",
    "z": "f025a8b9fbd1b054",
    "name": "is from me",
    "property": "userId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "@skylord123:skylar.tech",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 550,
    "y": 1540,
    "wires": [
      [
        "05947740ced04e2c"
      ]
    ]
  },
  {
    "id": "b3158c0779b72b41",
    "type": "matrix-device-verification",
    "z": "f025a8b9fbd1b054",
    "name": "",
    "server": null,
    "mode": "accept",
    "inputs": 1,
    "outputs": 1,
    "x": 970,
    "y": 1540,
    "wires": [
      []
    ]
  },
  {
    "id": "eb8ba0741df1b365",
    "type": "comment",
    "z": "f025a8b9fbd1b054",
    "name": "Accept all device validation from a user",
    "info": "",
    "x": 390,
    "y": 1500,
    "wires": []
  }
]